# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

SampleBoard/LIST
SampleBoard/OBJ
SampleBoard/SampleBoard.uvopt

MainBoard/OBJ
MainBoard/USER/Template.uvguix.Administrator
MainBoard/USER/Template.uvoptx

Tools/Analyzer/.vs
Tools/Analyzer/x64
Tools/Analyzer/FATool/GeneratedFiles
Tools/Analyzer/FATool/x64
Tools/Analyzer/FATool/FATool.vcxproj.filters
Tools/Analyzer/FATool/FATool.vcxproj.user

Tools/QR/ParaQRGenerator/.vs
Tools/QR/ParaQRGenerator/x64
Tools/QR/ParaQRGenerator/Debug
Tools/QR/ParaQRGenerator/ParaQRGenerator/GeneratedFiles
Tools/QR/ParaQRGenerator/ParaQRGenerator/x64
Tools/QR/ParaQRGenerator/ParaQRGenerator/ParaQRGenerator.vcxproj.filters
Tools/QR/ParaQRGenerator/ParaQRGenerator/ParaQRGenerator.vcxproj.user